.userform-cont{
   box-shadow: var(--box-shadow);
   position: relative;
   border-radius: 35px;
   padding: 75px 67px 40px;
}
.sub-uf-cnt {
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}
.columnsss {
   display: grid;
   gap: 16px;
   color: var(--text-color);
   font-size: 1rem;
   user-select: none;

}
.input-flex {
   background: var(--border);
   border-radius: 17px;
   display: flex;
   align-items: center;
   overflow: hidden;
   padding: 0 10px;
   font-size: 10px;
}
.input-flex > input {
   outline: none;
   border: none;
   padding: .625rem; 
   background: inherit;
}
.input-flex > span {
   font-size: 17px;
}